/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .wrapper  {
        width: 750px;
    }
    .header {
        background: #a1ece5;
    }
    .sideLeft {
        background: #80e47e;
    }
    .content {
        background: #f0f1ef;
        height: 420px;
    }
    .footer {
        background: #9ea424;
        height: 80px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .wrapper  {
        width: 450px;
    }
    .header {
        background: #86ebff;
        height: 100px;
        border-radius: 3px;
    }

    .sideLeft {
        background: #5ab37f;
        width: 100%;
        margin-top: 4px;
        float: none;
    }

    .bar {
        background: #d5fdf1;
        border-radius: 2px;
        width: 98%;
        height: 50px;
    }
    .content {
        background: #dbdddb;
        width: 100%;
        margin-top: 4px;
        height: 530px;
        float: none;
    }
    .footer {
        background: #758430;
        margin-top: 4px;
        height: 80px;
    }
    .center-img
    {
    width:120px;
    height:70px;  
    }
    .video
    {
    width:120px;
    height:70px; 
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .wrapper  {
        width: 330px;
    }
    .header {
        background: #3dfff2;
        height: 170px;
    }
    .sideLeft {
        background: #91b399;
    }
    .content {
        background: #f2f4f2;
        width: 100%;
        margin-top: 4px;
        height: 680px;
        float: none;
    }
    .footer {
        background: #6d6e6d;
        height: 80px;
    }
    .center-img
    {
    width:70px;
    height:50px;  
    }
    .video
    {
    width:70px;
    height:50px; 
    }
}